*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #336666;
}

.title {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.title h1{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: white;
}

#search{
    display: flex;
    width: 90%;
    max-width: 700px;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 2rem;
    height: 3rem;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 10px 20px;
}

#search button {
    border: 0;
    border-radius: 50%;
    width: 15%;
    height: 100%;
    background: #58629b;
    /* cursor: pointer; */
}

#search input{
    width: 70%;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #ffffff;
}

::placeholder{
    color: #cac7ff;
    font-size: 1rem;
}

.cards{
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card{
    width: 90%;
    height: auto;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 3rem;
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 1rem;
}

.card img{
    width: 10rem;
    height: 6rem;
    border-radius: 2rem;
}

.card h1{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.card h2{
    font-size: 1.2rem;
}

.card p{
    font-size: 1rem;
    word-break: break-word;
}

.card p span{
    font-weight: bold;
}

.card h1, h2, p {
    margin-bottom: 0.5rem;
    width: 100%;
    height: auto;
}

.svg{
    width: 1rem;
    color: white;
}

.hide{
    display: none;
}

@media (min-width: 768px) {
    #search button {
        width: 6%;
    }
}

@media (min-width: 1024px) {

    .title{
        height: 8rem;
    }

    .title h1{
        font-size: 2rem;
    }
}